@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@using StoreFiles.Core.Entities.HubSettings
@inject HubSettings HubSettings
@inject IJSRuntime JS
@inject IConfiguration configuration;


<div>
    @Body
</div>

<script>
    window.startSignalR = (hubUrl, urlGetSignedFile) => {
        const connection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .build();

        connection.on("ReloadPage", async () => {
            await onFinalizeClientSigning(urlGetSignedFile);
        });

        connection.start().catch(err => console.error(err));
    };
</script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var urlGetSignedFile = configuration["APIStoreFiles:BaseUrl"] + "/api/pades/signed-file/";

            await JS.InvokeVoidAsync("startSignalR", HubSettings.HubUrl, urlGetSignedFile);
        }
    }
}