@inherits LayoutComponentBase
@using StoreFiles.Core.Entities.HubSettings
@inject HubSettings HubSettings
@inject IJSRuntime JS

<div>
    @Body
</div>

<script>
    window.startSignalR = (hubUrl) => {
        const connection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .build();

        connection.on("ReloadPage", () => {
            location.reload();
            showSuccessSwall("Success", "¡ Archivo Firmado Correctamente !");
        });

        connection.start().catch(err => console.error(err));
    };
</script>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Llamamos al método JS pasando la URL del appsettings.json
            await JS.InvokeVoidAsync("startSignalR", HubSettings.HubUrl);
        }
    }
}